.login-page{
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .background{
        position: absolute;
        z-index: -1;
        width: 100vw;
    }
    .card{
        .sony{
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            img{
                height: 30px;
            }
        }
        .white-box{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 400px;
            font-size: 14px;
            .form-div{
                padding: 20px;
                p {
                    display: inline;
                }
                .info{
                    display: block;
                    text-decoration: none;
                }
                form{
                    padding-bottom: 20px;
                    input{
                        width: 300px;
                        margin: 20px 0;
                        height: 40px;
                        padding-left: 10px;
                    }
                    button{
                        background-color: #3e66d5;
                        color: white;
                        width: 300px;
                        height: 40px;
                        border: 0px;
                    }
                }
                .access{
                    display: block;
                    text-decoration: none;
                    align-self: flex-start;
                    padding-left: 10px;
                }
                .account{
                    width: 300px;
                    height: 40px;
                    background-color: white;
                    border: 1px solid rgb(162, 161, 161);
                }
            }
            .map{
                padding-bottom: 10px;
                text-decoration: none;
                color: rgb(116, 114, 114);
            }
            .map:hover{
                color: blue;
            }
        }
    }
}