#cookies-section{
    width: 100%;
    height: fit-content;
    background-color: $colorCookies;
    display: flex;
    align-items: center;
    padding: 30px 0;
    gap: 10px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    .logo-cookies{
        margin-left: 30px;
        width: 50px;
        height: 50px;
    }
    .cookies-text, .cookies-text>a{
        color: $colorWhite;
    }
    .cookies-buttons{
        display: flex;
        margin-right: 30px;

    }

    .cookies-Button{
        align-self: center;
        padding: 2px;
        border-radius: 2rem;
        transition-duration: 0.3s;
        width: fit-content;
        a{
            text-decoration: none;
            font-size: 16px;
            div {
                width: fit-content;
                border-radius: 2rem;
                border: 2px solid transparent;
                padding: 4px 14px;
                font-weight: 700;
                color: $colorWhite;
                background-color: $colorBlack;
            }
        }
        &:hover{
            background-color: $colorBlack;
            & div{
                border-color: $colorCookies;
            }
        }
    }

    .cookies-Button:last-of-type{
        
        a>div{
            color: $colorBlack;
            background-color: $colorWhite;
        }
        &:hover{
        background-color: $colorWhite;
        
            & div{
                border-color:  $colorCookies;
            }
        }
    }
}

.close-tab{
    background-color: transparent;
    border: none;
    color: $colorWhite;
    font-weight: 200;
    position: absolute;
    top: 10px;
    right: 10px;
    img{
        width: 15px;
        height: 15px; 
    }
}

@media (max-width: 767px) {
    #cookies-section .cookies-buttons {
        flex-direction: column;

    }
}