.chat-input{
    margin-bottom: 1px;
    input{
        width: 229px;
        height: 50px;
        border-bottom-left-radius: 10px;
        border: none;
    }
    input:focus {
        outline: none;
    }
    button{
        width: 70px;
        height: 50px;
        border-bottom-right-radius: 10px;
        background-color: blue;
        color: white;
        border:0px;
    }
}