%button{
    padding: 2px;
    border-radius: 2rem;
    border: 2px solid transparent;
    transition-duration: 0.3s;
    width: fit-content;
    a {
        text-decoration: none;
        font-size: 14px;

        div {
            width: fit-content;
            border-radius: 2rem;
            padding: 10px 14px;
            font-weight: 700;
        }
    }
}

@mixin color($text, $background, $hover) {
    @extend %button;
    a div{
        color: $text;
        background-color: $background;
    }
    
    &:hover {
        border-color: $hover;
        a div {
            background-color: $hover;
        }
    }
}

.button-blue {
    @include color($colorWhite, $colorBlue, $colorBlueHover);
}

.button-red {
    @include color($colorWhite, $colorRed, $colorRedHover);
}

.button-white {
    @include color($colorBlack, $colorWhite, $colorWhiteHover);
}