.chat-button{
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: 20px;
    background-color: #2d64e6;
    border: none;
    color: white;
    padding: 15px 15px;
    border-radius: 100%;
    box-shadow: 0px 0px 10px rgba(28, 28, 28, 0.629);
}
