.cart-main{
    min-height: 70vh;
    display: flex;
    // flex-direction: column;
    justify-content: center;
    // align-items: center;

    .cart-center{   
        display: flex;
        flex-direction: column;
        align-items: center; 
        .prod-message{
        justify-self: center;
        width: 80%;
    }
        h1{
            width: 100%;
            font-size: 30px;
            margin: 30px 0;
        }
    }
    .cart-prod{
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        width: 760px;
        display: flex; 
        justify-content: space-between;
        padding: 20px;
        .prod-left{
            display: flex;
            gap: 20px;
            .cart-prod-img{
                width: 125px;
            }
            .cart-prod-center{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 14px;
                a{
                    text-decoration: none;
                    font-size: 16px;
                    color: #1f1f1f;
                }
                .art-number{
                    color: #666666;
                    margin-top: 5px;
                }
                .remove-prod{
                    font-size: 12px;
                }
            
            }
        }

        .cart-prod-right{
            justify-self: flex-end;
            width: 220px;
            display: flex;
            flex-direction: row;
            .prod-price{
                margin-right: 30px
            }
            input{
                width: 70px;
                height: fit-content;
                border: 1px solid black;
                text-align: center;
            }
            .prod-total{
                width: fit-content;
                text-align: end;
                .tot-price{
                    font-size: 16px;
                    text-align: end;
                }
                .tot-iva{
                    font-size: 13px;
                    margin-top: 20px;
                }
            }
        }
    }
    .cart-center{
        width: 60vw;
        .cart-button{
            padding: 15px 25px;
            border: 1px solid rgb(6, 6, 167);
            background-color: white;
            color: rgb(6, 6, 167);
            margin-top: 10px;
        }
        .cart-button:hover{
            border-color: blue;
            color: blue;
        }
        .cart-button-orange{
            padding: 15px 25px;
            border: none;
            background-color: #eb6035;
            color: white;
            margin-top: 10px;
        }
        .cart-button-orange:hover{
            background-color: #d35129;
        }
        .but-width{
            width: 100%;
        }
        .subtotal-container{
            border: 1px solid #ddd;
            padding: 20px;
            margin-left: 10px;
            .sub-order{
                font-size: 24px;
                text-align: center;
            }
            .sub-art{
                background-color: #363636;
                font-size: 18px;
                color: white;
                text-align: center;
                padding: 5px 0;
                margin: 10px 0;
            }
            .sub-sub{
                display: flex;
                justify-content: space-between;
                font-size: 20px;
                padding-top: 20px;
                padding-bottom: 40px;
            }
        }
    }
}
