.game {
    border-radius: 10px;

    a {
        text-decoration: none;
        color: white;

        .p {
            font-size: 18px;
            margin-top: 10px;
            padding-left: 5px;
            //height: 55px;
            width: 100%;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
        img {
            border-radius: 10px;
        }

        // .madden,
        // .god-war,
        // .last-of-us {
        //     height: calc(50vw - 70px);
        //     width: calc(50vw - 70px);
        //     display: flex;
        //     align-items: center;
        //     justify-content: center;
        //     overflow: hidden;

        //     img {
        //         height: calc(50vw - 70px);
        //         width: auto;
        //     }
        // }
    }
}

.game img:hover {
    scale: 102%;
}

@media (min-width: 768px) {

    
    .game,
    .game img {
        width: calc((100vw / 6) - 20px);
    }
    // div a .madden,
    // div a .god-war,
    // div a .last-of-us {
    //     width: calc((100vw / 6) - 20px);
    //     height: calc((100vw / 6) - 20px);

    //     img {
    //         height: calc((100vw / 6) - 20px);
    //         width: auto;
    //     }
    // }
}

@media (min-width: 1024px) {
    .game,
    .game img {
        width: calc(100vw / 10);
    }
    // div a .madden,
    // div a .god-war,
    // div a .last-of-us {
    //     width: calc(100vw / 10);
    //     height: calc(100vw / 10);

    //     img {
    //         height: calc(100vw / 10);
    //         width: auto;
    //     }
    // }
}