@keyframes slide-up {
    from {
        margin-top: 3%;
        height: 100%;
        opacity: 0.05;
    }

    to {
        margin-top: 0%;
        height: 100%;
    }
}


.container-plus {
    width: 100%;
    overflow: hidden;
    position: relative;
    .bg-image {
        
        img {
            // width: 100%;
            // object-fit: contain;
            z-index: -2;
            position: absolute;
        }
    }

    .grid-cont {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-around;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 30px;
        .plus-image {
            
            z-index: 1;
            width: fit-content;
            img {
                width: 400px;
            }
        }

        .box-grid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0px;
            width: fit-content;
            .box-title {
                width: 90%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .plus-logo {
                    margin-left: -20px;
                    img{
                        width: 270px;
                    }

                }
                .paragraph {
                    width: 90%;
                    font-size: 14px;
                    font-weight: 400;
                    color: black;
                }
            }
            .btn-block {
                font-size: 13px;
            }
        }
    }
}


@media (min-width:768px) {
    .container-plus {
        width: 100%;

        .grid-cont {
            
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            gap: 30px;
            padding: 50px 50px;

            .plus-image {
                z-index: 1;
                width: 50%;
                margin-left: 20px;

                img {
                    width: 300px;
                }
            }

            .box-grid {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;

                .box-title {

                    width: 70%;
                    margin-bottom: -10px;
                    align-items: flex-start;
                    text-align: start;
                    gap: 20px;
                    margin-bottom: 30px;

                    .plus-logo {
                        img{
                            width: 300px;
                        }
                    }

                    .paragraph {
                        width: 100%;
                        font-size: 13px;
                        font-weight: 400;
                        color: black;
                    }
                }
            }
        }
    }
}

// @media (min-width:1024px) {
//     .container-plus {
//         width: 100%;
//         height: auto;

//         .bg-image {
//             width: 100%;
//             position: absolute;
//             z-index: 0;


//             img {
//                 width: 100%;
//                 height: 100vh;
//                 object-fit: cover;
//             }

//             source {
//                 width: 100%;
//             }

//             .grid-cont {
//                 display: flex;
//                 flex-direction: row-reverse;
//                 margin-left: 10em;

//                 .plus-image {
//                     position: relative;
//                     z-index: 1;
//                     width: 100%;

//                     img {
//                         width: 400px;
//                     }

//                     source {
//                         width: 100%;
//                     }
//                 }

//                 .box-grid {
//                     display: flex;
//                     flex-direction: column;
//                     justify-content: center;

//                     .box-title {

//                         .playlogo {
//                             width: auto;
//                             margin-bottom: 30px;

//                         }


//                         .paragraph {
//                             width: 100%;
//                             font-size: 15px;
//                             font-weight: 400;
//                             color: black;
//                         }
//                     }


//                     .btn-block {
//                         font-size: 13px;
//                     }
//                 }
//             }
//         }
//     }

// }

// @media (min-width:1278px) {
//     .container-plus {
       
//         .grid-cont {
//             display: flex;
//             flex-direction: row-reverse;
//             margin-left: 5em;
//             width: 100%;

        

//             .box-grid {
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: center;
//                 width: 45%;

//                 .box-title {


//                     .paragraph {
//                         width: 100%;
//                         font-size: 19px;
//                         font-weight: 400;
//                         color: black;
//                     }
//                 }


//                 .btn-block {
//                     font-size: 13px;
//                 }
//             }
//         }
//     }
// }

@media (min-width: 1024px){
    .container-plus {
        width: 100%;
        margin: 0;
        padding-bottom: 3em;
        overflow: hidden;
        display: flex;
        justify-content: center;
    
        .bg-image {
            img {
                object-fit: contain;
                z-index: -2;
                right: 0;
                
            }
        }
    
        .grid-cont {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            z-index: 1;
            width: 60%;
            padding: 50px 0;
            // padding-top: 30px;
            // margin-left: 10em;
    
            .plus-image {
                z-index: 1;
                // width: 30%;
    
                img {
                    width: 450px;
                }
    
              
            }
    
            .box-grid {
                display: flex;
                flex-direction: column;
                justify-content: center;
    
                .box-title {
                    width: 80%;
                    padding: 20px;
    
                    .plus-logo {
                        width: 100%;
                        img{
                            width: 400px;
                        }
                    }
    
    
                    .paragraph {
                        width: 90%;
                        font-size: 17px;
                        font-weight: 400;
                        color: black;
                    }
                }
            }
        }
    
    }
    
    .box-grid {
        .btn-block {
            margin-left: 20px;
        }
    }
    
    .slide-up {
        animation: 2s slide-up;
        margin-top: 0%;
    
    }
}