.flexa {
  width: 370px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 1.7em;
  label {
    display: block;
    font-weight: 500;
    color: black;
    font-size: 14px;
  }
  a {
    font-size: 14px;
    font-style: italic;
  }
}

.form-date-select-container {
  width: 25%;
  height: 40px;
}

.form-select-container {
  position: relative;
  width: 100%;
  height: 35px;
  border: 1px solid #ddd;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  outline: none;
  cursor: pointer;
  .value {
    flex-grow: 1;
  }
  .stock {
    color: #00a2ff;
  }
  .caret {
    translate: 0 25%;
    border: 0.25em solid transparent;
    border-top-color: #777;
  }
  .options {
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    max-height: 16em;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 0.25em;
    width: 100%;
    left: 0;
    top: 44px;
    background-color: white;
    z-index: 2;
    .option {
      height: 20px;
      display: flex;
      align-items: center;
      padding: 0 0.5em;
      cursor: pointer;
      user-select: none;
    }
  }
  .options.show {
    display: block;
  }
}
.form-select-container:focus {
  border: 3px solid rgb(0 123 255 / 25%);
}
