.content-container {
  color: #f2f2f2;
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 5;

  .logo {
    height: 160px;
   
  }
  .title-slider {
    margin-top: 5px;
    font-size: 45px;
    font-weight: 300;
    text-align: left;
  }

  .description-slider {
    width: 500px;
    margin-top: 5px;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
  }
  .button-white{
    div{
      font-size: 18px;
    }
  }
}

 .carousel-indicators button { 
  visibility: hidden; 
  
}

.slide-top {
	-webkit-animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.fade-in {
	-webkit-animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: fade-in 5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
          
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
            
  }
  100% {
    -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}