.product-right{
    width: 520px;
    .product-info-title{
        display: block;
    }
    .product-quantity{
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .price-description{
        font-size: 14px;
    }
    .add-to-cart{
        background-color: #eb6035;
        color: white;
        font-size: 15px;
        padding: 15px 30px;
        border: none;
        font-weight: 500;
        margin: 20px 0px;
        transition-duration: 0.2s;
    }
    .add-to-cart:hover{
        background-color: #d35129;
    }
    .shipping-info{
        font-size: 14px;
        text-decoration: none;
        font-style: italic;
    }
}

@media(max-width: 991px){
    .product-right{
        order: 3;
    }
}

@media(max-width: 767px){
    .product-right{
        .product-info-title{
            display: none;
        }

        .product-quantity{
            flex-direction: row;
            gap: 20px;
        }
    }
}

@media(max-width: 545px){
    .product-right{
        width: 90vw;
        .product-info-title{
            display: none;
        }

        .product-quantity{
            flex-direction: column;
            gap: 5px;
        }
    }
}