@import url(./assets/font/stylesheet.css);

$colorBlack: #1F1F1F;
$colorWhite: #FFFFFF;
$colorWhiteHover: #e5e5e5;
$colorBlue: #2d64e6;
$colorBlueHover: #3951c1;
$colorRed: #cf4500;
$colorRedHover: #bc3c04;
$colorFooter:#00439C ;
$colorCookies: #0072ce;
$colorGray: #727171;
$colorTransparentGrey:  rgba(245,247,250,0.6);

body {
    color: $colorBlack;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    font-family: "SST";
    overflow-x: hidden;
    position: relative;
}

@import "./components/elements/buttons/button.scss";
@import "./components/elements/counter/store-counter.scss";
@import "./components/footer/footerMain.scss";
@import "./components/footer/footerGames.scss";
@import "./components/cookies/cookies.scss";
@import "./components/elements/sections/socials/socials.scss";
@import "./components/elements/cards/cardsStoreHompage.scss";
@import "./components/elements/sections/storeHomepage/storeHomepage.scss";
@import "./components/elements/cards/cardsSliderHomepage.scss";
@import "./components/elements/sections/sliderHomepage/sliderHomepage.scss";
@import "./components/elements/sections/strayHomepage.js/strayHomepage.scss"

